// COLORS
$primary-color: #8E0E00;
$secondary-color: #1F1C18;

$white-color: rgb(255, 255, 255);

$dark-grey: #000000;

$dark-blue-text: #252135; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

